* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Quicksand', sans-serif;
   background-color: #4158D0;
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   background-repeat: no-repeat;
   height: 100vh;
   overflow-x: hidden;
}

.toggle {
   position: absolute;
   left: 20px;
   z-index: 3;
   background-color: transparent;
   border: none;
   outline: 0;
   cursor: pointer;
   transition: all 0.5s ease-out;
}

.toggle i {
   color: #4158D0;
   width: 58px;
   padding: 1rem;
   background-color: #fff;
   border-radius: 50%;
   margin-top: 1rem;
}  

.active {
   left: 80vw;
}

.sidebar {
   background-color: #3045ac;
   width: 100vw;
   transform: translateX(-100%);
   overflow: hidden;
   height: 100vh;
   transition: all 0.5s ease-out;
}

.show {
   transform: translateX(0);
}

h1 {
   color: #fff;
   font-size: 3.5rem;
   margin: 4.5rem 0 2rem 1.5rem;
}

.nav-items {
   list-style: none;
}

.nav-item {
   padding: 1rem 0 1rem 1.5rem;
   border-bottom: 1px dotted #4a65eb;
}

.nav-item a {
   text-decoration: none;
   color: #fff;
   font-size: 1.25rem;
}

.nav-item:hover {
   background-color: #4158D0;
   transition: all 1s ease-out;
}

@media only screen and (min-width: 576px) {
   .active {
      left: 88%;
   }
}

@media only screen and (min-width: 992px) {
   .sidebar {
      width: 300px;
      transform: translateX(-300px);
   }

   .show {
      transform: translateX(0);
   }

   .active {
      left: 270px;
   }
}